<section
  id="projects"
  class="projects">
  <h2
    class="projects__title">Projects</h2>
  <ul
    class="projects__list">
    {% for project in collections.project | reverse %}
      <li
        class="project">
        <h2
          class="project__title">{{ project.data.title | safe }}</h2>
        <ul
          class="tags">
          <li
            class="tags__item">Python</li>
          <li
            class="tags__item">Bash</li>
          <li
            class="tags__item">CLI</li>
          <li
            class="tags__item">Unix</li>
        </ul>
        <img
          class="project__image"
          src="{{ project.data.image | url }}"
          alt="{{ project.data.alt }}" />
        <ul
          class="project__links">
          {% for link in project.data.links %}
            <li>
              <a
                class="project__link"
                href="{{ link.url }}">
                <i
                  class="{{ link.type }}"></i>
                {{ link.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
        <div
          class="project__content">{{ project.templateContent | safe }}</div>
      </li>
    {% endfor %}
  </ul>
</section>