{% from "../macros/projectbrief.njk" import projectbrief with context %}

<section
  id="projects"
  class="projects">
  <h2
    class="section-title projects__title">Projects</h2>
  <ul
    class="projects__list">
    {% for project in collections.project | reverse %}
      {{ projectbrief(project) }}
    {% endfor %}
  </ul>
</section>