{% macro postExcerpt(post) %}
  <li
    class="post">
    <time
      class="post__date"
      datetime="{{ post.date }}">
      {{ post.date | readableDate }}
    </time>

    {% set tags = post.data.tags | removeSiteLevelTags %}
    {% include "tagList.njk" %}

    <a
      class="post__title post__title_place_brief"
      href="{{ post.url }}">{{ post.data.title }}
    </a>
    
    <p
      class="post__excerpt">
        {% if post.data.excerpt %}
          {{ post.data.excerpt }}
        {% else %}
          {{ post.templateContent | excerpt | safe }}
        {% endif %}
    </p>
    <a
      class="post__link"
      href="{{ post.url }}">Read article</a>
  </li>
{% endmacro %}