{% macro postbrief(post) %}
  <li
    class="post">
    <time
      class="post__date"
      datetime="{{ post.date }}">
      {{ post.date | readableDate }}
    </time>
    <ul
      class="tags tags_align_left">
      {% for tag in post.data.tags | removeSiteLevelTags %}
        <li
          class="tags__item tags__item_place_blog">
          <a
            class="tags__link"
            href="{{ tagUrl | url }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
    <a
      class="post__title post__title_place_brief"
      href="{{ post.url }}">{{ post.data.title }}
    </a>
    
    <p
      class="post__excerpt">{{ post.templateContent | excerpt | safe }}</p>
    <a
      class="post__link"
      href="{{ post.url }}">Read article</a>
  </li>
{% endmacro %}