.about {
  padding: var(--size-2xl) var(--size-md) var(--size-2xl) var(--size-md);
  max-width: var(--content-max-width);
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-areas: "about image" "text text";
  gap: var(--size-xl);
}

.about__details {
  grid-area: about;
}
.about__name {
  font-size: var(--fz-5xl);
  margin: 0 0 var(--size-sm);
}

.about__job {
  font-size: var(--fz-xl);
  grid-area: job;
}

.about__image {
  grid-area: image;
  justify-self: flex-end;
  border-radius: 9999px;
  width: 100%;
  max-width: 180px;
  box-shadow: 2px 2px 7px 2px var(--shadow);
}

.about__description {
  align-self: flex-start;
  grid-area: text;
  font-size: var(--fz-lg);
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .about {
    max-width: 600px;
  }

  .about__details {
  }

  .about__image {
    max-width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__details {
    text-align: center;
  }

  .about__image {
    justify-self: center;
    order: -1;
  }
}
