.code-block {
  position: relative;
}

.code-block__copy-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: var(--fz-xs);
  border: 1px solid var(--inline-code-alpha50);
  border-radius: 4px;
  background: #272822;
  color: var(--inline-code);
  transition: color 0.3s, border-color 0.2s;
  cursor: pointer;
}

.code-block__copy-button:hover {
  color: var(--off-white);
  border-color: var(--off-white-alpha50);
}
