.contacts {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  min-width: 320px;
  margin: 60px 0;
}

.contact__link {
  color: var(--text-main);
}

.contact__link:visited {
  color: var(--text-grey);
}

.contact:hover {
  transform: rotate(15deg);
}

.contact:hover .contact__link {
  color: var(--text-main);
}

/* .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon_location_projects {
  padding-right: 2px;
}

.icon_type_github {
  background-image: url(../images/icons/github-icon.svg);
}

.icon_type_demo {
  background-image: url(../images/icons/up-right-icon.svg);
} */
