.footnote {
  text-decoration: none;
  /* padding-top: 60px;
  margin-top: -60px;
  z-index: 0; */
}

.footnote_head {
  text-decoration: none;
  font-size: 14px;
  vertical-align: super;
  /* padding-top: 60px;
  margin-top: -60px;
  z-index: 0; */
}
