:root {
  /* Colors */
  --background-main: rgb(215, 206, 199, 0.5);
  --background-secondary: rgb(215, 206, 199, 0.7);
  --shadow: rgba(0, 0, 0, 0.4);
  --shadow-light: rgba(0, 0, 0, 0.15);
  --text-main: #000;
  --text-grey: #535353;
  --white: #fff;
  --off-white: #f9f9f9;
  --off-white-alpha50: #f9f9f980;
  --links: rgb(81, 162, 243);
  --links-visited: rgb(188, 118, 250);
  --inline-code: #d3cbcb;
  --inline-code-alpha50: #d3cbcb80;

  /* General sizes */ /* media queries */
  --fz-5xl: 52px;
  --fz-4xl: 42px;
  --fz-3xl: 36px; /* 500 */
  --fz-2xl: 28px; /* 500 */
  --fz-xl: 24px;
  --fz-lg: 20px; /* 500 */
  --fz-md: 16px; /* 500 */
  --fz-sm: 14px;
  --fz-xs: 12px;

  --content-max-width: 820px;

  --size-3xl: 90px;
  --size-2xl: 70px;
  --size-xl: 52px; /* yes */
  --size-lg: 30px; /* yes */
  --size-md: 20px;
  --size-sm: 12px;
  --size-xs: 8px;
}

@media screen and (max-width: 767px) {
  :root {
    --fz-5xl: 32px;
    --fz-xl: 18px;
    --fz-lg: 16px;

    --size-xl: 36px;
    --size-lg: 12px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --fz-3xl: 28px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-main: #f9f9f9;
    --text-grey: #d3cbcb;
    --background-main: #1e1e1e;
    --background-secondary: #2d2d30;
    --off-white: #3e3e42;
    --links: rgb(82, 165, 248);
    --links-visited: #be7cf8;
    --inline-code: #535353;
  }
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: var(--links);
}

a:visited {
  color: var(--links-visited);
}

a:hover {
  text-decoration: none;
}

.main {
  padding: var(--size-2xl) 0;
}
