.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.post__title {
  text-decoration: none;
  color: var(--black);
  font-size: 36px;
  line-height: 1.1;
  margin: 0;
}

.post__title_place_brief {
  font-size: 28px;
}

.post__title:visited {
  color: var(--text-grey);
}

.post__title:hover {
  text-decoration: underline;
  color: var(--text-main);
}

.post__date {
  font-size: 12px;
  line-height: 1.5;
}

.post__excerpt {
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0;
}

.post__link {
  color: var(--black);
  font-size: 16px;
  line-height: 1.5;
}

.post__link:visited {
  color: var(--text-grey);
}

.post__link:hover {
  text-decoration: underline;
  color: var(--text-main);
}

.post__content {
  margin-top: 48px;
}

.post__content p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 12px;
}

.post__content h2 {
  font-size: 30px;
  line-height: 1.1;
  margin: 24px 0 16px;
}

.post__content h3 {
  font-size: 24px;
  line-height: 1.1;
  margin: 19.2px 0 12.8px;
}

.post__content li {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.post__content code {
  padding: 0 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  border-radius: 5px;
  background: var(--inline-code);
}

.post__content hr:last-of-type {
  margin: 80px 0 30px;
  border: none;
  border-bottom: 1px solid var(--text-main);
}

/* overwrites the padding on `.post__content code` */
.post__content pre code {
  padding: 0;
}

@media screen and (max-width: 600px) {
  .post__title {
  }
}
