.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  justify-content: center;
}

.tags_align_left {
  justify-content: flex-start;
  gap: 10px;
}

.tags__item {
  padding: 3px 7px;
  background-color: var(--inline-code);
  border-radius: 5px;
  font-size: var(--fz-sm);
  letter-spacing: 1.5px;
}

.tags__link {
  color: var(--black);
  text-decoration: none;
}

.tags__link:visited {
  color: var(--text-grey);
}

.tags__link:hover {
  text-decoration: underline;
  color: var(--text-main);
}
