---
layout: base.njk
permalink: /blog/
---

<section class="section">
  <header class="section__header">
    <h1 class="section__title">All Posts</h1>
  </header>

  {% include "postList.njk" %}
</section>
