---
layout: base.njk
permalink: /tags/
---

<section class="section">
  <header class="section__header">
    <h1 class="section__title section__title_place_all-tags">All Tags</h1>
    {% include "tagList.njk" %}
  </header>

  {% include "postList.njk" %}
</section>
