---
layout: base.njk
permalink: /blog/
---

<section
  class="section blog">
  <h1
    class="section-title blog__title">All Posts</h1>

  {% include "taglist.njk" %}
  {% include "postlist.njk" %}
</blog>