---
layout: base.njk
permalink: /blog/
---

<section
  class="section blog">
  <header
    class="blog__header">
    <h1
      class="section-title blog__title">All Posts</h1>
    {% include "taglist.njk" %}
  </header>

  {% include "postlist.njk" %}
</blog>