---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - project
    - postTags
    - tagList
  addAllPagesToCollections: true
layout: base.njk
permalink: /tags/{{ tag | tagToSlug }}/
eleventyComputed:
  title: "{{ tag | title }}"
  description: "All posts tagged '{{ tag }}'"
---

<section class="section">
  <header class="section__header">
    <h1 class="section__title">{{ description }}</h1>
  </header>
  {% include "postList.njk" %}

</section>

