---
layout: base.njk
permalink: /blog/til/
---

<section class="section">
  <header class="section__header">
    <h1 class="section__title">Today I Learned</h1>
  </header>

  {% include "tilList.njk" %}
</section>
