<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Grab title from the page data -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,400;0,900;1,400&family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet">
  </head>
  <body class="page">
    <header class="header">
      <nav class="nav">
        <a class="nav__link" href="/">Home</a>
        {% for item in site.headerLinks %}
          {% set currentAttributes = '' %}
          {% set externalAttributes = '' %}
          {% if item.external %}
            {% set externalAttributes = 'target="_blank" rel="noopener noreferrer" ' %}
          {% endif %}
          {% if page.url == item.url %}
            {% set currentAttributes = 'aria-current="page"' %}
          {% endif %}
          <a
            class="nav__link"
            href="{{ item.url | url }}"
            {{ currentAttributes | safe }}
            {{ externalAttributes | safe }}
          >{{ item.text }}</a>
        {% endfor %}
      </nav>
    </header>
    <main class="main">
      {{ content | safe }}
    </main>
    <footer class="footer">
      <h2>Contact Me</h2>
    </footer>
  </body>
</html></body></html></body></html>
