---
layout: base.njk
---

<article
  class="post section">
  <time
    class="post__date"
    datetime="{{ page.date }}">
    {{ page.date | readableDate }}
  </time>
  <h1
    class="post__title">{{ title }}
  </h1>
  
  {% set tags = tags | removeSiteLevelTags %}
  {% include "tagList.njk" %}
  
  <div
    class="post__content">
    {{ content | parseFootnotes | safe }}
  </div>
</article>